@{
    ViewBag.Title = "Contact";
}
<h2>Kontakt informationer</h2>
<h3>Herunder finder du informationer til at kontakte os</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +45 42654137
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Fabianwendell@hotmail.com">FabianWendell@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">24Sport's Email</a>
</address>