@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt informationer</h2>
<h3>Herunder finder du informationer til at kontakte os</h3>

<address>
    24 Sportspræmier & Emblemer<br />
    Hovedgaden 20, 4652 Hårlev<br />
    Telefon: +45 40302202<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Fabianwendell@hotmail.com">FabianWendell@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:andreas_kjelstrup@hotmail.com">andreas_kjelstrup@hotmail.com</a>
</address>