@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Velkommen til 24 Sportspræmier & Emblemer </h1>
    <p class="lead">Hjemmesiden for de flottese præmier til de bedste priser!</p>
    <p><a href=" ~/Account/Login" class="btn btn-primary btn-lg">Log venlist ind for at fortsætte &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hvem er vi?</h2>
        <p>
            Tekst om firma, hvem er vi, hvor længe har vi gjort dette og hvordan startede det?
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hvad Levere vi?</h2>
        <p>24 Sportspræmier & Emblemer er et firma som fokusere på at udlevere flotte medaljer, hurtigt og præcist til en lille pris</p>
    </div>
    <div class="col-md-4">
        <h2>Hvor kan du finde os?</h2>
        <p>Vi har en forretning på Hovedgaden 20, 4652 Hårlev. </p>
        <p><a class="btn btn-default" href="https://maps.google.com/?q=Hovedgaden 20, 4652 Hårlev">Find os her &raquo;</a></p>

    </div>
</div>